@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
body {
    
    height: 100vh;
    background-color: darkgray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flag {
    width: 25px;
}

.star {
    color: #ffbd00;
}

.detail {
    font-weight: bold;
 }
 
 .obj {
     font-weight: lighter;
 }